---
import Layout from "../layouts/Layout.astro";
import Articlep from "../components/Articlep.astro";
---

<Layout title="about">
    <main>
        <h1>Este es el about</h1>
        <Articlep>
            <p>nosotros somos esto aquello lo cual asi de modo</p>
        <p>nosotros somos esto aquello lo cual asi de modo</p>
        </Articlep>
        
    </main>
</Layout>