---





interface Props {
	codigo: string;
    typeLan: string;
}







const { codigo, typeLan } = Astro.props;
---


<div class="code-css">
    <button  class="boton-copiar">copiar</button>
    <pre>
        <code  class={typeLan}>
         {codigo}
        </code>
      </pre>
</div>

<script>
 const botoncopiar = document.querySelectorAll('.boton-copiar');

 botoncopiar.forEach((button) => {
    button.addEventListener('click', (e)=>{
       
        let copiar = button.nextElementSibling.textContent;            
        
        const copiarContenido = async () => {
            try {
              await navigator.clipboard.writeText(`${copiar}`);
            } catch (err) {
              console.error('Error al copiar: ', err);
            }
          }

  copiarContenido();

    });
});

</script>






<style>

    .boton-copiar{
        position:absolute;
        z-index: 999;
        right: 5px;
        top: 5px;
    }

 pre{
        overflow: auto;
    } 

    code{
        font-size: 1rem;
    }



    .code-css{
        position: relative;
        min-width: none;
        max-width: 800px;
        font-size: 1rem;
    }


    


 
</style>