<div class="img-background">

</div>

<style>

    .img-background{
        background-image: url(../assets/css_logo_new2.svg);
        /* background-size: cover; */
        background-position: center;
        background-repeat:no-repeat;
        height: 500px;
    }

</style>