<div class="image">
</div>
<style>


.image{
   
    background: url('/assets/csslogo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    width: 100vw;
    height: 40vw;
    margin-top: 0px;
    margin-bottom: 10px;
}
    
    @media screen and (max-width: 700px){
    .image{
        background: url('/assets/csslogo.svg');
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0 auto;
        overflow: hidden;
        width: 90vw;
        height: 40vw;
        margin-top: 0px;
    }
}
</style>