<div class="image">
</div>
<style>


.image{
   
    background: url('/assets/csslogo.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
 
    width: auto;
    height: 40vw;
    margin-top: 0px;
    overflow: hidden;
    /*  */

}



    
    @media screen and (max-width: 700px){
    .image{
        background: url('/assets/csslogo.svg');
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0 auto;
        overflow: hidden;
        width: auto;
        height: 40vw;
        margin-top: 0px;
        padding: 0 auto;
      /*   margin-bottom: 10px; */
    }

    

}
</style>